<% content_for :title, "Edit profile" %>

<div class="flex items-center mb-4 gap-4">
  <h1 class="font-bold text-3xl">My profile</h1>
  <%= button_to "Log out", session_path, method: :delete, class: "text-red-700 underline" %>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">

  <div class=" bg-white w-full rounded-xl p-8 border border-gray-300">

    <%= form_with model: @user, url: users_path, method: :patch, class: "contents" do |form| %>
      
      <%= form.label :avatar, class: "form-label" %>
      <div class="flex items-center gap-2" data-controller="emoji-picker">
        
        <div popover id="select-emoji" class="select-emoji" data-emoji-picker-target="popover">
          <emoji-picker data-emoji-picker-target="picker"></emoji-picker>
        </div>
        <div class="flex items-center gap-2">
          <%= form.text_field :avatar, placeholder: "😎", class: "form-input border-none text-6xl", data: { emoji_picker_target: "input" } %>
          <input type="button" role="button" class="button-soft" popovertarget="select-emoji" value="Select avatar">
        </div>
      </div>

      <div class="mb-5">
        <%= form.label :name, "Display name", class: "form-label" %>
        <%= form.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: "Enter your full name", class: "form-input" %>
      </div>

      <div class="my-5">
        <%= form.label :email_address, "Username", class: "form-label" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", class: "form-input" %>
      </div>

      <div class="my-5 flex flex-col gap-2">
        <h3 class="text-lg font-bold">Change password</h3>
        <%= form.password_field :password, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "form-input" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "form-input" %>
        <%= render partial: "shared/form_error", locals: { object: @user, field: :password_confirmation } %>
      </div>

      <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
        <div class="inline">
          <%= form.submit "Save changes", class: "button-solid" %>
        </div>
      </div>

    <% end %>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <div class="rounded-2xl bg-green-200 py-3 px-5 grid place-content-center gap-4">
      <%= heroicon "bolt", class: "w-12 h-12 mx-auto text-green-700", variant: :solid %>
      <span class="text-2xl"><%= @user.total_amount %> Stuff counted!</span>
    </div>

    <div class="rounded-2xl bg-purple-200 py-3 px-5 grid place-content-center gap-4">
      <%= heroicon "flag", class: "w-12 h-12 mx-auto text-purple-700", variant: :solid %>
      <span class="text-2xl"><%= @user.reached_goals_count %> goals reached</span>
    </div>

    <div class="rounded-2xl bg-blue-200 py-3 px-5 grid place-content-center gap-4">
      <%= heroicon "circle-stack", class: "w-12 h-12 mx-auto text-blue-700", variant: :solid %>
      <span class="text-2xl"><%= @user.total_counters %> Counters created</span>
    </div>

  </div>

</div>