<div class="mx-auto md:w-2/3 bg-white max-w-[480px] w-full rounded-xl p-8">

  <h1 class="font-bold text-4xl">Sign up</h1>

  <%= form_with model: @user, url: registration_url, data: { turbo_action: "replace" }, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, class: "form-label" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-input" %>
    </div>
    <div class="my-5">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-input" %>
    </div>
    <div class="my-5">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Confirm your password", maxlength: 72, class: "form-input" %>
    </div>
    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Sign up", class: "button-solid" %>
      </div>
      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
   
        <%= link_to "Got account? Sign in", new_session_path, class: "text-gray-700 underline" %>
      </div>
    </div>


  <% end %>
</div>