
  <div class="flex flex-one justify-between items-center gap-2 mt-4 md:mt-0 w-full">

    <div class="nav-left flex items-center gap-4">

      <%= active_link_to root_path, class: "nav-link flex gap-2 items-center", active: :exclusive do %>
        My tallies
      <% end %>
    
      <%= active_link_to leaderboard_path, class: "nav-link flex gap-2 items-center" do %>
        Leader&shy;board
      <% end %>

    </div>

    <div class="nav-right flex items-center gap-2">
      <%= link_to new_counter_path, class: "button-solid group max-md:w-full max-md:justify-center circle-hover" do %>
        <div class="flex items-center gap-2 relative z-10">
        <span class="hidden md:block transition-all duration-500 ease-in-out group-hover:-translate-x-2">Create</span>
        <%= heroicon "plus", class: "w-5 h-5 group-hover:rotate-90 group-hover:translate-x-2 group-hover:scale-150 transition-all duration-500 ease-in-out" %>
        </div>
      <% end %>

      <%= link_to edit_users_path, class: "button-soft flex gap-2 items-center" do %>
        <span><%= Current.user.avatar %></span>
        <span>
        <%= avatarize(display_name_or_email(Current.user)) %>
        </span>
      <% end %>
    </div>
  </div>
