<div id="<%= dom_id counter %>" class="text-center border border-gray-200 p-8 relative rounded-xl flex flex-col gap-4 items-stretch justify-center">
  
  <%= link_to edit_counter_path(counter), class:"absolute top-4 right-4" do %>
    <%= heroicon "pencil", class: "text-gray-500", variant: "solid", aria: { label: "user-icon" } %>
  <% end %>

  <div class="text-8xl"><%= counter.emoji %></div>
  
  <h2 class="font-bold text-xl">
    <%= counter.title %>
  </h2>

  <div class="font-bold text-8xl" id="<%= dom_id(counter, :amount) %>">
    <%= counter.amount %>
  </div>

  <div class="flex gap-4 items-center">

    <%= form_with url: decrement_counter_path(counter), method: :patch, class: "flex gap-4 items-center", html: { class: "contents" } do |form| %>
      <%= form.button class: "cursor-pointer flex-1 bg-gray-200 rounded-lg py-3 px-5 relative active:top-1 active:scale-95" do %>
        <%= heroicon "minus", class: "text-gray-900 mx-auto", variant: "solid", aria: { label: "Decrease counter" } %>
      <% end %>
    <% end %>

    <%= form_with url: increment_counter_path(counter), method: :patch, class: "flex gap-4 items-center", html: { class: "contents" } do |form| %>
      <%= form.button class: "cursor-pointer flex-1 bg-gray-800 text-white rounded-lg py-3 px-5 relative active:top-1 active:scale-105" do %>
        <%= heroicon "plus", class: "text-gray-100 mx-auto", variant: "solid", aria: { label: "Increase counter" } %>
      <% end %>
    <% end %>

  </div>

</div>
