<%= form_with(model: counter, class: "contents") do |form| %>
  <% if counter.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(counter.errors.count, "error") %> prohibited this counter from being saved:</h2>

      <ul>
        <% counter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div class="my-5">
    <%= form.label :emoji, class: "form-label" %>
    <div class="flex items-center gap-2" data-controller="emoji-picker">
      
      <div popover id="select-emoji" class="select-emoji" data-emoji-picker-target="popover">
        <emoji-picker data-emoji-picker-target="picker"></emoji-picker>
      </div>
      
      <%= form.text_field :emoji, style: "field-sizing: content", class: "flex text-8xl rounded-md border-0 border-gray-400 outline-none px-3 py-2 mt-2", data: { emoji_picker_target: "input" } %>
      <input type="button" role="button" class="button-soft" popovertarget="select-emoji" value="Select emoji">
    </div>
  </div>

  <div class="my-5">
    <%= form.label :color, class: "form-label" %>
    <%= form.color_field :color, class: "p-1 h-10 w-14 block border border-gray-400 cursor-pointer rounded-md disabled:opacity-50 disabled:pointer-events-none" %>
  </div>

  <div class="my-5">
    <%= form.label :amount, "Starting amount", class: "form-label" %>
    <%= form.number_field :amount, class: "form-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "button-solid" %>
  </div>
<% end %>
