<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dayswithout" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= yield :head %>


    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">

    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  </head>

  <body class="body <%= authenticated? ? "page" : "landing-page" %>">
    <%= render "shared/flash" %>

    <header class="md:flex justify-between items-center mb-2 p-4">

      <% unless turbo_native_app? %>
      <h1 class="font-bold text-4xl text-center md:text-left">
        <%= link_to root_url, data: { turbo_action: "replace" } do %>Widowidout<% end %>
      </h1>

      <% end %> 
      
      <% if authenticated? %>

        <div class="flex items-center gap-2 mt-4 md:mt-0">
          
          <div class="button-soft">
            <%= link_to edit_users_path do %>
              <%= Current.user.email_address[0, 2].capitalize %>
            <% end %>
          </div>
          <%= link_to new_counter_path, class: "button-solid flex gap-4 items-center max-md:w-full max-md:justify-center" do %>
              Create
              <%= heroicon "plus", class: "w-5 h-5" %>
          <% end %>
        </div>

      <% end %>

    </header>
    
    <main class="container mx-auto mt-12 p-5">
      <% if !authenticated? %>
        <h1 class="text-5xl md:text-6xl font-bold text-center mx-auto mb-12 max-w-[480px]">Track milestones that matter</h1>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
